<!DOCTYPE html>
<!--[if (lt IE 7)]><html class='no-js lt-ie9 lt-ie8 lt-ie7' lang='en'><![endif]-->
<!--[if IE7]><html class='no-js lt-ie9 lt-ie8' lang='en'><![endif]-->
<!--[if IE8]><html class='no-js lt-ie9' lang='en'><![endif]-->
<!--[if (gt IE 8)]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
  <meta charset="{{ bloginfo('charset') }}">
  {% block meta %}
  <title>{{wp_title}}</title>
  <meta content="{{ bloginfo('description') }}" name='description'>
  <meta content="{{ bloginfo('name') }}" property='og:title'>
  <meta content="{{ bloginfo('description') }}" property='og:description'>
  <meta content='website' property='og:type'>
  <meta content="{{ bloginfo('wpurl') }}" property='og:url'>
  <meta content='{{ template_uri }}/img/facebook.png' property='og:image'>
  {% endblock meta %}
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
  <meta content='initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
  <meta content='Slimndap' name='apple-mobile-web-app-title'>
  <link href='{{ stylesheet_uri }}' media='screen' rel='stylesheet' type='text/css'>
  <link href="{{ bloginfo('pingback_url') }}" rel='pingback'>
  <!--[if lt IE 9]>
    <script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script>
  <![endif]-->
  {{wp_head}}
</head>
<body class='{{body_class}}'>
  <header id='header'>
    {% block header %}
    <div class='logo'>
      <a href="{{bloginfo('url')}}">Slim &amp; Dapper</a>
    </div>
    <nav class='menu'>
      <a href='#footer'>menu</a>
    </nav>
    {% endblock header %}
  </header>
  {% block breadcrumbs %}
  <div class='breadcrumbs'>{{ breadcrumbs }}</div>
  {% endblock breadcrumbs %}
  {% block intro %}
  {% endblock intro %}
  <div class='posts' id='posts'>
    {% block posts %}
    {% endblock posts %}
  </div>
  <footer id='footer'>
    <div class='about'>
      <figure>
        <img src='http://www.gravatar.com/avatar/fddd411ae4a428d23ad4070ebff12a4d.png'>
      </figure>
      <p>
        Ik ben Jeroen Schmit en ik maak websites en plugins in WordPress. Je kan mij <a href="mailto:jeroen@slimndap.com">inhuren</a>. Graag zelfs!
      </p>
    </div>
    <nav class='contact'>
      <div class='mail'>
        <a href='mailto:jeroen@slimndap.com'>jeroen@slimndap.com</a>
      </div>
      <div class='visit'>
        <a href='https://www.google.com/maps/preview/dir//Slim+%26+Dapper,+Papestraat+27,+2513+AV+Den+Haag,+Netherlands/@52.0789276,4.3076708,17z/data=!4m13!1m4!3m3!1s0x47c5b725629ece71:0xdf4bfd75204f5a97!2sSlim+%26+Dapper!3b1!4m7!1m0!1m5!1m1!1s0x47c5b725629ece71:0xdf4bfd75204f5a97!2m2!1d4.307684!2d52.078918'>Papestraat 27, Den Haag, NL</a>
      </div>
      <div class='call'>
        <a href='tel:+31626216228'>06-26216228</a>
      </div>
    </nav>
    <div class='social'>
      <a class='facebook' href='http://facebook.com/slimndap'>Facebook</a>
      <a class='twitter' href='http://twitter.com/jhu'>Twitter</a>
      <a class='linkedin' href='http://www.linkedin.com/in/jeroenschmit'>LinkedIn</a>
    </div>
    {{ function('wp_footer') }}
  </footer>
</body>
</html>
