{% extends "views/base.html" %}

{% block posts %}
{% if term %}
.post
	%h1 {{term.name}}
	%p {{term.description}}
{% endif %}

{% for post in posts %}
.post
	%a(href="{{post.permalink}}")
		%figure
			{% if post.thumbnail %}
			%img(src="{{post.thumbnail.src|resize(320)}}")
			{% endif %}
		.date 
			{% set time = function('get_the_time','U') %}
			{{ function('human_time_diff', time)}} ago
		%h1 {{post.title}}
		.preview {{post.get_preview(50,false,false)}}
{% endfor %}
{% endblock posts %}